.container {
        padding: 0.5em;
        text-align:center;
        z-index:100;
        margin-left:0;
        margin-right:0;
}
.ui.form .field>label{
        font-size:1.5em;
}
.ui.form input[type=text], .ui.form input[type=password] {
        border:1px solid black;
        color:black;
}
body{
        overflow-y: hidden;
}
.chart {
        margin-bottom:5%;
}
.container h2 {
        display:inline;
}
.container i {
        float:left;
}
